.Body{
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.Right{
    align-items: right;
    margin-left: 30px;
    margin-top: 10px;
    
}

.Left{
    width: 70%;
    
}

.RelatedTopicsList{
    font-size: x-small;
}

