.ConfirmationPage{
    height: 100vh;
}



.Container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Panel{   
    align-items: center;
    justify-content: center;
    width: 60em;
    margin: auto;
    margin-top: 12.5em;
}

.Info{
    text-align: center;
    margin-top: 2em;
}

.Footer{
    position: absolute; 
    width: 100%;
    text-align: left; 
    height: 7.5em;
    left: 0;
    bottom: 0;
    right: 0;
}
