body{
    height: 100%;
    width: 100%;
}

html{
    overflow-x: hidden ;
    height: 100%;
    width: 100%;
}

.textinfo{
    text-align-last: left;
    width: 65%;
    position: absolute;
    margin: 0; 
    padding: 0;
    padding-left: 17em;

} 


.reschedule{
    text-align: left;
    width: 100%;
    margin: 0; 
    margin-right: 90em;


}

.viewingtable{
    padding-left:17em;
    padding-top:10em;
    width: 65%;
    margin-bottom: 8em;
}

.button{
    margin-top: 0.35em;
    margin-bottom: 1em;
}

.ViewBookingpage{
    position: relative;
}

.tablestyling{
    transform: scale(0.9);
}