body{
    height: 100%;
    width: 100%;
}

html{
    overflow-x: hidden ;
    height: 100%;
    width: 100%;
}

 .info{
    text-align-last: center;
    width: 100%;
    position: absolute;
    margin: 0; 
    padding: 0;
    margin-bottom: auto;
    padding: 4em;
    padding-left: 1em;
} 

.textinfo{
    text-align: center;
    text-align-last: center;
    width: 50%;
    position: inherit;
    margin: 0; 
    padding: 0;
    margin-bottom: auto;
    padding: 4em;
    padding-left: 22em;
} 

.viewingtable{
    padding: 20em; 
    margin-bottom: 1em;
}

.button{
    margin-top: 0.35em;
    margin-bottom: 1em;
}

.ViewBookingpage{
    position: relative;
}

.Footer{
    position: absolute; 
    width: 100%;
    text-align: left; 
    height: 7.5em;
    left: 0;
    bottom: 0;
    right: 0;
}

.tablestyling{
    transform: scale(0.9);
}